*{
          margin: 0;
          padding: 0;
          font-family: sans-serif;
      }
      .Banner {
          width: 100%;
          height: 805px;
          background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(MIBG.webp);
          background-size: cover;
          background-position: center;
      }
      .Front {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    }
    .Front h1{
    font-size: 58px;
    margin-top: 80px;
    }
    .Front p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 15px;
    }
      
      .navbar{
          width: 85%;
          margin: auto;
          padding: 35px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
      }
      .Logo{
          width: 150px;
          cursor: pointer;
      }
      .navbar ul li{
          list-style: none;
          display: inline-block;
          margin: 0 20px;
          position: relative;
      }
      .navbar ul li a{
          text-decoration: none;
          color: white;
          text-transform: uppercase;
      }
      .navbar ul li::after{
          content: '';
          height: 3px;
          width: 0%;
          background: #A50104;
          position: absolute;
          left: 0;
          bottom: -8px;
          transition: 0.5s;
      }
      .navbar ul li:hover::after {
          width: 100%;
      }
      
    
    .Info1 {
        display: flex;
        padding: 200px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .IMP1{
        height: 500px;
        border-radius: 20px;
        margin-right: 50px;
    }
    .right1 h1{ 
        font-size: 45px;
        color: #14213D;
        font-family: 'Times New Roman', Times, serif;
        text-align: left;
        text-transform: uppercase;
    }
    .right1 p{
        font-size: 28px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }


    .Info2 {
        display: flex;
        padding: 220px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .Title1{ 
        font-size: 45px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 0px;
        color: #14213D;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        text-transform: uppercase;
    }
    .right2 p{
        font-size: 26px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .left2 p{
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-right: 20px;
    }

    .Info3 {
        display: flex;
        padding: 220px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .Info3 p{
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .strong{
        font-weight: 550;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .Title2{ 
        font-size: 40px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 0px;
        color: #14213D;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        text-transform: uppercase;
    }


    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    align-content: center;
    width: 100%;
    }
    .Table{
    padding: 250px;
    padding-top: 50px;
    padding-bottom: 80px;
    align-items: center;
    align-content: center;
    }

    td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
    }

    tr:nth-child(even) {
  background-color: #dddddd;
    }


      
      .foot{
          color: #fff;
          padding: 30px;
          text-align: center;
          background-color: black;
      }
      .HN{
          width: 150px;
          padding: 15px 0;
          text-align: center;
          border-radius: 10px;
          margin: 20px 10px;
          font-weight: bold;
          background: #fff;
          color: #000000;
          cursor: pointer;
          transition: 0.5s ease-in-out;
      
      }
      .HN:hover{
          width: 180px;
          background: transparent;
          border: 2px solid #A50104;
          color: #fff;
      }